* {
    font-family: 'Nunito', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 4vh;
}

/*Estilo para la navbar*/
.navbar{
    position: fixed;
    background-color: #63A69A;
    width: 100vw;
}

/*Estilos para el logo*/
.logopic{
    width: 5.5vw;
    padding-right: 2vw;
}

/*Estilos para el logo, el titulo y los links*/
.titleslogodiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 8vh;
}

/*Imagen tipo banner*/
img{
    width: 98.9vw;
}

/*Titulo del navbar*/
h1{
    padding-top: 2vh;
    padding-left: 2vw;
    color: #ffffff;
    text-shadow: 0 0 1vh #000000;
}

/*Links de la navbar que redirigen a distintas secciones de la pagina*/
.links{
    padding-top: 2.5vh;
    width: 50vw;
}

/*Elementos anchor*/
a{
    color: #ffffff;
    text-decoration: none;
    padding-left: 2vw;
}

/*Estilos para los anchor cuando nos situamos en su pagina o cuando pasamos el mouse por encima de ellos*/
.currentlink, a:hover{
    background-color: #ffffff;
    color: #63A69A;
    border-radius: 10px;
    padding: 1vh 1vw;
    text-align: center;
}

/*Links de contacto (mails)*/
.contactlink{
    text-decoration: underline;
    color: rgb(51, 129, 178);
    background-color: #FFFFFF;
    border-style: none;
    box-shadow: none;
}

li{
    padding-bottom: 3vh;
}

/*Indentacion de texto*/
.ind-text, .insidelist{
    text-indent: 3vw;
}

/*Estilos para los h2 (titulos de cada seccion), listas y contenido*/
.subtitle, .list, .contact-text, .content{
    margin: 5vh 10vw;
    list-style: none;
    list-style-position: inside;
}

/*Color de fondo para la seccion de contenido*/
.subtitleandcontent{
    background-color: #ecb26a;
}

.headings{
    text-align: center;
}

/*Defino los items de una lista ordenada como caracteres*/
.ollist{
    list-style-type: lower-alpha;
}

/*Scrollbar*/
body::-webkit-scrollbar {
    width: 17px;
}
  
body::-webkit-scrollbar-track {
    background: #ffffff;
}
  
body::-webkit-scrollbar-thumb {
    background-color: #63A69A;
}

/*Para cada input de la tabla*/
td{
    padding: 1vh 2vw;
    text-align: center;
}

/*Estilos para las tablas*/
table{
    margin: 2vh 0vw;
}

/*Cards para el contenido*/
.cards{
    background-color: #ffffff;
    width: 70vw;
    border-radius: 20px;
    justify-self: center;
    margin: 1vh 15vw;
    padding: 1vh 3vw;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.288);
}

/*Estilos para los mapas*/
.mapsrow{
    display: flex;
    flex-direction: row;
    margin: 0;
    justify-content: center;
}

.mapcard{
    display: flex;
    flex-direction: column;
    padding: 2vh 2vw;
}

form{
    display: flex;
    flex-direction: column;
    justify-self: center;
}

.signature{
    display: flex;
    flex-direction: column;
}

fieldset{
    border: none;
    padding: 1vh 0vw;
}

.textinput{
    width: 25vw;
    display: flex;
    flex-direction: column;
}

.submitbutton{
    width: 10vw;
    background-color: #63A69A;
    color: #ffffff;
    border: none;
    align-items: center;
    margin-left: 26vw;
    margin-bottom: 2vh;
    margin-top: 1vh;
    border-radius: 1vh;
}

.rowitems{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}